{% extends 'base.html' %}


{% block content %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="pic">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">UserName: {{profile.email}}</h5>
        <p class="card-text">Wellcome</p>
        <ul>
          <li>Email: {{profile.email}}</li>
        </ul>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="{{'student_update_profile'}}" class="btn btn-primary">Update Profile</a>
      </div>
    </div>   
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User Details</h5>
        <p class="card-text">user info here</p>
        <ul>
          <li>First Name: {{profile.first_name}}</li>
          <li>Last Name: {{profile.last_name}}</li>
          <li>Date Joined: {{profile.date_joined}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Extra Fierlds Here</h5>
        <p class="card-text">Extra Info</p>
        <ul>
          {% for extra_obj in extra_std %}
          <li>Grade Year: {{extra_obj.grade_year}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock }