{% extends 'base.html' %}

{% block content %}
	<h3 style="text-align: center;">Update Account</h3>
		<hr/>


{% if form.errors %}
<p>Please Fill the Required field and follow the instructions for pasword.</p>
{% endif %}


	<form method="post">
	{% csrf_token %}
	  <div class="form-group">
	    <label for="first_name">First Name</label>
	    {{form.first_name}}
	  </div>
	  <div class="form-group">
	    <label for="last_name">Last Name</label>
	    {{form.last_name}}
	  </div>
  	{% for fm in formset %}
		{{fm.id}}
	  <div class="form-group">
	    <label for="grade_year">Grade Year</label>
	    {{fm.grade_year}}
	  </div>
	 {% endfor %}
	  <button type="submit" class="btn btn-primary">Update</button>
	  <p>Or <a href="/accounts/student/{{user.pk}}/"> Cancle </a>, to continue to profile.</p>
	</form> 
{% endblock %}